# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual Environment
.venv/
venv/
env/

# Database (don't upload local DB)
*.db
*.sqlite3

# Environment variables
.env

# Frontend
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store
Thumbs.db
